%h1 Contacts

- if @contacts.empty?

  %p None

- else

  %table{ class: "table table-striped" }
    - for contact in @contacts do
      %tr
        %td= link_to "#{contact.first_name} #{contact.last_name}", contact
